@charset "utf-8";
/* CSS Document */

body {

}



#header {
	text-decoration:none;
	color:#999999;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:20px !important;
}

#header a {color:#999999; } 
#header a:hover { color:#999999;}

#content {

}

#leftcol {

}

#rightcol {

}

#rightcol img { 

}

.fullName {

}

.titulo_mensaje {

}
.mensaje {

}

.title_template{

}
.descarga_vcard {

}


.title_item {

}

.item_class {

}

.jobTitle {
	
}
.webSite {
	
}
.address {
	
}
.cellPhone {
	
}
.phone {
	
}
.email {
	
}
.im {
	
}

.blockTitle {

}

.clear {

}

#footer {
	
}
div.editBlock{

}
.oldPhone{
	background:transparent url("images/icon_oldphone.png") no-repeat scroll left top; width:280px;
}

.twitter{
    background:transparent url("images/vc_social_twitter.png") no-repeat scroll left top; width:280px;
}
.facebook{
    background:transparent url("images/vc_social_facebook.png") no-repeat scroll left top; width:280px;
}
.linkedin{
    background:transparent url("images/vc_social_linkedin.png") no-repeat scroll left top; width:280px;
}
.skype{
    background:transparent url("images/vc_social_skype.png") no-repeat scroll left top; width:280px;
}
a.button {
	text-transform:uppercase;
	font-family:"Lucida Sans", Arial, Geneva, Helvetica, sans-serif;
	font-size:12px;
	width:186px;
	height:45px;
	display:block;
	text-decoration:none;
	color: #000;
	background:url("images/boton.png") top center no-repeat;
	text-align:center;
	padding-top:14px;
	font-weight:bolder;
} 
a.button:hover {
	display:block;
	text-decoration:none;
	color: #000;
	background:url("images/boton.png") top center no-repeat;
	text-align:center;
	padding-top:14px;
} 
